
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-logo img {
  height: 70px;
  margin-left: 20px;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-user span {
  margin-right: 20px;
  color: #000;
  font-weight: bold;
}

.admin-icon {
  margin-right: 20px;
  width: 32px;
  height: 32px;
}
